* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    display: inline-block;
}

.container__title {
    width: 100%;
    height: 85px;
    background: #000;
    color: #fff;
}

.container__title h1 {
    display: inline-block;
    width: auto;
    margin-top: 25px;
    text-shadow: 1px 1px 2px #ccc, 0 0 1em blue, 0 0 0.2em blue;
    color: white;
    font: 45px Georgia, "Bitstream Charter", "URW Bookman L", "Century Schoolbook L", seri
}

.container__title form {
    display: inline;
    float: right;
    margin: 35px 30px;
}

.container__title input {
    width: 250px;
    height: 30px;
    margin: auto;
    font-size: 20px;
}

.contianer__absolut {
    display: inline-block;
    width: 100vw;
    height: auto;
    margin-top: 25px;
}

.conatiner__form {
    width: 45%;
    float: left;
    margin: 0 25px;
    padding: 10px 15px;
}


.conatiner__form label {
    display: inline-block;
    width: 40%;
}

.container__from-div {
    margin-bottom: 8px;
}

.container__from-div input[ type="email"],
input[ type="text"],
select,
option,
i {
    width: 250px;
    border: none;
    border-bottom: 2px solid #000;
    border-radius: 3px;
    text-align: center;
    outline-style: none;
}

.container__from-div i {
    border: none;
}

input[ type="file"] {
    display: none;
}

i {
    font-size: 25px;
    cursor: pointer;
}

.container__from-btn {
    margin-right: 4px;
    padding: 15px 8px;
    border: none;
    width: calc(auto - 15px);
    border-radius: 3px;
    background: transparent;
    cursor: pointer;
    transition: border 2s;
    transition: all 4s;
}

.container__from-btn>i {
    color: #cf6;
    transform: translate(-20);
}

.container__from-btn:hover {
    font-size: 25px;
    background: #ccc;
}

.container__from-btn:hover>i {
    color: #000;
}

.card {
    width: 45%;
    height: auto;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    margin: 0.5px 25px;
    padding: 10px 15px;
    margin-bottom: 25px;
}

.table {
    margin-top: 85px;
    width: 45%;
    height: auto;
    float: right;
    margin: 0.5px 25px;
}

.table > table{
    margin-top: 5%;
    caption-side: bottom;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    border-collapse: collapse;
}

.table > table td{
    
    color: #000;
    padding-left: 20px;
    padding-right:20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    text-align: center;
    border: 0px;
    
}
.table >table tr:hover{
    background:#b0b0eb;
}

.table >table  th{
    background-color: #000;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0px;
}

.user-delete{
    color: #fff;
    font-weight: 800;
    background: #c12;
    border: none;
    width: 45px;
    margin: auto 2px;
    padding: 3px 2px;
}


.container__presentacion {
    margin-top: 25px;
    width: 100vw;
    height: auto;
    display: inline-block;

}

.container__presentacion-iframe{
    width: 45%;
    height: auto;
    float: left;
}

.container__presentacion-iframe >iframe {
    width: 100%;
    height: 60vh;
    border-radius: 20px 0;
    margin: 25px ;
}

.container__presentacion-img{
    width: 25%;
    height: 25%;
    float: right;
    margin: 25px 150px;
}

.container__presentacion-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0;
}
